In [2]:
import pandas as pd
import os
import re

In [3]:
df_2018 = pd.read_csv("data/arabica_data_cleaned_v2.csv")  
''' v2 Updates:
ID 1198 updated to country "colombia", as farms by the same owner are located there
ID 1312 was removed as they score zero on everything
'''
df_2023 = pd.read_csv("data/2023_coffee-quality-data-CQI/df_arabica_clean.csv")

In [4]:
display(df_2018.head())
display(df_2023.head())

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

,Unnamed: 0,ID,Country of Origin,Farm Name,Lot Number,Mill,ICO Number,Company,Altitude,Region,...,Total Cup Points,Moisture Percentage,Category One Defects,Quakers,Color,Category Two Defects,Expiration,Certification Body,Certification Address,Certification Contact
0,0,0,Colombia,Finca El Paraiso,CQU2022015,Finca El Paraiso,NaN,Coffee Quality Union,1700-1930,"Piendamo,Cauca",...,89.33,11.8,0,0,green,3,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
1,1,1,Taiwan,Royal Bean Geisha Estate,"The 2022 Pacific Rim Coffee Summit,T037",Royal Bean Geisha Estate,NaN,Taiwan Coffee Laboratory,1200,Chiayi,...,87.58,10.5,0,0,blue-green,0,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
2,2,2,Laos,OKLAO coffee farms,"The 2022 Pacific Rim Coffee Summit,LA01",oklao coffee processing plant,NaN,Taiwan Coffee Laboratory,1300,Laos Borofen Plateau,...,87.42,10.4,0,0,yellowish,2,"November 15th, 2023",Taiwan Coffee Laboratory 台灣咖啡研究室,"QAHWAH CO., LTD 4F, No. 225, Sec. 3, Beixin Rd...","Lin, Jen-An Neil 林仁安 - 886-289116612"
3,3,3,Costa Rica,La Cumbre,CQU2022017,La Montana Tarrazu MIll,NaN,Coffee Quality Union,1900,"Los Santos,Tarrazu",...,87.17,11.8,0,0,green,0,"September 21st, 2023",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901
4,4,4,Colombia,Finca Santuario,CQU2023002,Finca Santuario,NaN,Coffee Quality Union,1850-2100,"Popayan,Cauca",...,87.08,11.6,0,2,yellow-green,2,"March 5th, 2024",Japan Coffee Exchange,"〒413-0002 静岡県熱海市伊豆山１１７３−５８ 1173-58 Izusan, Ata...",松澤 宏樹 Koju Matsuzawa - +81(0)9085642901

In [5]:
# Define columns to keep
columns_to_keep = ['Species', 'Country.of.Origin', 'Harvest.Year', 'Color', 'Processing.Method', 'Aroma', 
                  'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 
                  'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points', 
                  'Total.Cup.Points']

# Filter 2018 dataframe
df_2018_filtered = df_2018[columns_to_keep].copy()

# Create mapping for 2023 column names (spaces instead of dots)
column_mapping_2023 = {
    'Country of Origin': 'Country.of.Origin',
    'Processing Method': 'Processing.Method',
    'Clean Cup': 'Clean.Cup',
    'Overall': 'Cupper.Points',  # Overall maps to Cupper.Points
    'Total Cup Points': 'Total.Cup.Points',
    'Harvest Year': 'Harvest.Year'
}

# Rename 2023 columns to match 2018 format
df_2023_renamed = df_2023.rename(columns=column_mapping_2023)

# Add Species column to 2023 data (all Arabica)
df_2023_renamed['Species'] = 'Arabica'

# Filter 2023 dataframe to keep only the same columns
df_2023_filtered = df_2023_renamed[columns_to_keep].copy()

In [6]:
# Display the results
print("2018 Filtered DataFrame:")
display(df_2018_filtered.head())
print(f"\nShape: {df_2018_filtered.shape}")

print("\n" + "="*50 + "\n")

print("2023 Filtered DataFrame:")
display(df_2023_filtered.head())
print(f"\nShape: {df_2023_filtered.shape}")

# Check if all columns match
print("\n" + "="*50 + "\n")
print("Column alignment check:")
print(f"2018 columns: {list(df_2018_filtered.columns)}")
print(f"2023 columns: {list(df_2023_filtered.columns)}")
print(f"Columns match: {list(df_2018_filtered.columns) == list(df_2023_filtered.columns)}")

2018 Filtered DataFrame:

,Species,Country.of.Origin,Harvest.Year,Color,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points
0,Arabica,Ethiopia,2014,Green,Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.0,10.0,10.0,8.75,90.58
1,Arabica,Ethiopia,2014,Green,Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.0,10.0,10.0,8.58,89.92
2,Arabica,Guatemala,NaN,NaN,NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.0,10.0,10.0,9.25,89.75
3,Arabica,Ethiopia,2014,Green,Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.0,10.0,10.0,8.67,89.00
4,Arabica,Ethiopia,2014,Green,Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.0,10.0,10.0,8.58,88.83

Shape: (1310, 16)

==================================================

2023 Filtered DataFrame:

,Species,Country.of.Origin,Harvest.Year,Color,Processing.Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean.Cup,Sweetness,Cupper.Points,Total.Cup.Points
0,Arabica,Colombia,2021 / 2022,green,Double Anaerobic Washed,8.58,8.50,8.42,8.58,8.25,8.42,10.0,10.0,10.0,8.58,89.33
1,Arabica,Taiwan,2021 / 2022,blue-green,Washed / Wet,8.50,8.50,7.92,8.00,7.92,8.25,10.0,10.0,10.0,8.50,87.58
2,Arabica,Laos,2021 / 2022,yellowish,Semi Washed,8.33,8.42,8.08,8.17,7.92,8.17,10.0,10.0,10.0,8.33,87.42
3,Arabica,Costa Rica,2022,green,Washed / Wet,8.08,8.17,8.17,8.25,8.17,8.08,10.0,10.0,10.0,8.25,87.17
4,Arabica,Colombia,2022,yellow-green,"Honey,Mossto",8.33,8.33,8.08,8.25,7.92,7.92,10.0,10.0,10.0,8.25,87.08

Shape: (207, 16)

==================================================

Column alignment check:
2018 columns: ['Species', 'Country.of.Origin', 'Harvest.Year', 'Color', 'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points']
2023 columns: ['Species', 'Country.of.Origin', 'Harvest.Year', 'Color', 'Processing.Method', 'Aroma', 'Flavor', 'Aftertaste', 'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean.Cup', 'Sweetness', 'Cupper.Points', 'Total.Cup.Points']
Columns match: True

In [7]:
def clean_harvest_year(year_str):
    """Simple cleaning: extract years, return single/range/unknown."""
    if pd.isna(year_str):
        return 'Unknown'
    
    year_str = str(year_str).strip()
    
    # Find all 4-digit years between 2000-2025
    years = re.findall(r'\b(20[0-2][0-9])\b', year_str)
    years = sorted(set(years))
    
    if len(years) == 1:
        return years[0]
    elif len(years) == 2:
        return f"{years[0]}-{years[1]}"
    elif len(years) > 2:
        raise ValueError(f"Found more than 2 years in: '{year_str}' - years found: {years}")
    
    # Handle special cases
    special_cases = {
        '4T/10': '2010',
        '4T72010': '2010',
        '08/09 crop': '2008-2009',
        
    }
    
    if year_str in special_cases:
        return special_cases[year_str]
    
    return 'Unknown'

In [8]:
# Apply cleaning
df_2018_filtered['Harvest.Year.Original'] = df_2018_filtered['Harvest.Year']
df_2018_filtered['Harvest.Year'] = df_2018_filtered['Harvest.Year'].apply(clean_harvest_year)

df_2023_filtered['Harvest.Year.Original'] = df_2023_filtered['Harvest.Year']
df_2023_filtered['Harvest.Year'] = df_2023_filtered['Harvest.Year'].apply(clean_harvest_year)

# Show results
print("2018 Dataset - Sample Transformations:")
display(df_2018_filtered[['Harvest.Year.Original', 'Harvest.Year']].drop_duplicates().head(20))

print("\n2023 Dataset - Sample Transformations:")
display(df_2023_filtered[['Harvest.Year.Original', 'Harvest.Year']].drop_duplicates().head(20))

2018 Dataset - Sample Transformations:

      Harvest.Year.Original Harvest.Year
0                      2014         2014
2                       NaN      Unknown
5                      2013         2013
6                      2012         2012
7                March 2010         2010
13   Sept 2009 - April 2010    2009-2010
16               May-August      Unknown
17                2009/2010    2009-2010
18                     2015         2015
25                     2011         2011
28                     2016         2016
33                2015/2016    2015-2016
37                     2010         2010
51                Fall 2009         2009
55                     2017         2017
74              2009 / 2010    2009-2010
93                2010-2011    2010-2011
114               2009-2010    2009-2010
124             2009 - 2010    2009-2010
135               2013/2014    2013-2014

2023 Dataset - Sample Transformations:

    Harvest.Year.Original Harvest.Year
0             2021 / 2022    2021-2022
3                    2022         2022
9             2022 / 2023    2022-2023
11                   2021         2021
39            2017 / 2018    2017-2018
176           2018 / 2019    2018-2019
195                  2023         2023

In [9]:
# Fill missing values in Color with 'Unknown'
df_2018_filtered['Color'] = df_2018_filtered['Color'].fillna('Unknown')
df_2023_filtered['Color'] = df_2023_filtered['Color'].fillna('Unknown')

# Map 2023 Processing Methods to match 2018 categories (only map different ones)
processing_method_mapping = {
    'Double Anaerobic Washed': 'Other',
    'Double Carbonic Maceration / Natural': 'Natural / Dry',
    'Wet Hulling': 'Other',
    'Honey,Mossto': 'Pulped natural / honey',
    'Anaerobico 1000h': 'Other',
    'Semi Washed': 'Semi-washed / Semi-pulped',
    'SEMI-LAVADO': 'Semi-washed / Semi-pulped',
}

df_2023_filtered['Processing.Method'] = df_2023_filtered['Processing.Method'].replace(processing_method_mapping)

# Fill missing values in Processing.Method with 'Unknown'
df_2018_filtered['Processing.Method'] = df_2018_filtered['Processing.Method'].fillna('Unknown')
df_2023_filtered['Processing.Method'] = df_2023_filtered['Processing.Method'].fillna('Unknown')

In [10]:
def column_stats(df, name):
    print(f"\n{name} Dataset:")
    print("-" * 80)
    for col in df.columns:
        if col.endswith('.Original'):
            continue
        total = len(df)
        non_null = df[col].notna().sum()
        null = df[col].isna().sum()
        unique = df[col].nunique()
        print(f"{col:25} | Total: {total:5} | Non-null: {non_null:5} | Null: {null:5} | Unique: {unique:5}")

column_stats(df_2018_filtered, "2018")
column_stats(df_2023_filtered, "2023")

2018 Dataset:
--------------------------------------------------------------------------------
Species                   | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:     1
Country.of.Origin         | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    36
Harvest.Year              | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    20
Color                     | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:     4
Processing.Method         | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:     6
Aroma                     | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    32
Flavor                    | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    34
Aftertaste                | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    34
Acidity                   | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    30
Body                      | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    30
Balance                   | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    31
Uniformity                | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:     9
Clean.Cup                 | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    11
Sweetness                 | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:     7
Cupper.Points             | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:    41
Total.Cup.Points          | Total:  1310 | Non-null:  1310 | Null:     0 | Unique:   177

2023 Dataset:
--------------------------------------------------------------------------------
Species                   | Total:   207 | Non-null:   207 | Null:     0 | Unique:     1
Country.of.Origin         | Total:   207 | Non-null:   207 | Null:     0 | Unique:    22
Harvest.Year              | Total:   207 | Non-null:   207 | Null:     0 | Unique:     7
Color                     | Total:   207 | Non-null:   207 | Null:     0 | Unique:    12
Processing.Method         | Total:   207 | Non-null:   207 | Null:     0 | Unique:     6
Aroma                     | Total:   207 | Non-null:   207 | Null:     0 | Unique:    19
Flavor                    | Total:   207 | Non-null:   207 | Null:     0 | Unique:    19
Aftertaste                | Total:   207 | Non-null:   207 | Null:     0 | Unique:    20
Acidity                   | Total:   207 | Non-null:   207 | Null:     0 | Unique:    19
Body                      | Total:   207 | Non-null:   207 | Null:     0 | Unique:    17
Balance                   | Total:   207 | Non-null:   207 | Null:     0 | Unique:    18
Uniformity                | Total:   207 | Non-null:   207 | Null:     0 | Unique:     3
Clean.Cup                 | Total:   207 | Non-null:   207 | Null:     0 | Unique:     1
Sweetness                 | Total:   207 | Non-null:   207 | Null:     0 | Unique:     1
Cupper.Points             | Total:   207 | Non-null:   207 | Null:     0 | Unique:    21
Total.Cup.Points          | Total:   207 | Non-null:   207 | Null:     0 | Unique:    81

In [11]:
output_folder = 'data/cleaned_coffee_data'

# Drop the .Original columns before saving
df_2018_clean = df_2018_filtered.drop(columns=['Harvest.Year.Original'])
df_2023_clean = df_2023_filtered.drop(columns=['Harvest.Year.Original'])

# Save individual cleaned datasets
df_2018_clean.to_csv(f'{output_folder}/coffee_2018_cleaned.csv', index=False)
df_2023_clean.to_csv(f'{output_folder}/coffee_2023_cleaned.csv', index=False)

# Combine both datasets
df_combined = pd.concat([df_2018_clean, df_2023_clean], ignore_index=True)

# Save combined dataset
df_combined.to_csv(f'{output_folder}/coffee_combined_2018_2023.csv', index=False)